@charset "UTF-8";

/* reset */
* {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption,footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;font-size:100%;font:inherit;}
body{width: 100%;word-break:break-all;-ms-word-break:break-all;}
a,li{text-decoration:none;color:#666;}
a, a:hover {text-decoration:none;}
a[href*="callto"]:hover, a[href*="mailto"]:hover {text-decoration:none;}
textarea {width:100%; word-wrap:break-word; word-break:break-word; resize:none;}/* resize:none; */
img {vertical-align:middle;max-width: 100%;}
img, fieldset, iframe {border:none;outline:none;}
legend {display:none;}
form, fieldset, iframe{display:block;border:0}
h1,h2,h3,h4,h5,h6,strong,b {font-weight:normal;}/* h tag font style reset code */
ol,ul,li {list-style:none;}
i, em, address {font-style:normal;}
table, tbody, thead, tr, td, th {border-collapse:collapse; border-spacing:0;}
table {width:100%;table-layout: fixed;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/* select input radio */
input[type="text"], input[type="password"], input[type="date"],button, textarea , select {border:none; outline:none; background:transparent; -moz-appearance:none; -webkit-appearance:none;}
input[type="button"], input[type="checkbox"], input[type="radio"], button, label{cursor:pointer;} /* button cursor sync */
input[type="checkbox"], input[type="radio"]{width: auto; height: auto;}
input:focus, select:focus, button:focus, textarea:focus {outline:none;}/* focus animation banding */

/* select ie10 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    select {background:#fff;}
}

/* placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#999; }
::-moz-placeholder { /* Firefox 19+ */ color:#999; }
:-ms-input-placeholder { /* IE 10+ */ color:#999; }
:-moz-placeholder { /* Firefox 18- */ color:#999; }
:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */ opacity:0; }
:focus::-moz-placeholder { /* Firefox 19+ */ opacity:0; }
:focus:-ms-input-placeholder { /* IE 10+ */ opacity:0; }
:focus:-moz-placeholder { /* Firefox 18- */ opacity:0; }

/* consisly code */
.hidden{position: absolute; top: 0; left: -9999em;}
.clearfix {zoom:1;}
.clearfix:before, .clearfix:after {content:""; display:block;}
.clearfix:after {clear:both;}
