@charset "utf-8";
@import "mixin.scss";

.be-done-inner{
    max-width:1200px;
    margin:0 auto;
    @include breakPoint(1200px){
        width:100%;
        padding:0 50px;
    }
    @include breakPoint($tabletPoint){
        padding:0 24px;
    }
    @include breakPoint($mobilePoint){
        padding:0 12px;
    }
}
